.section {
  background: #f7f7f7;
  padding: 70px 0 180px;

  position: relative;
  overflow: hidden;
}

.section h2,
.content,
.right,
.tabs,
.cards,
.card {
  position: relative;
  z-index: 10;
}

.section h2 {
  margin: 0 0 40px;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: #0f4d82;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  gap: 30px;

  max-width: 1800px;
  margin: 0 auto;
}

.mapBox {
  width: 58%;
  flex-shrink: 0;
}

.mapBox img {
  width: 100%;
  height: auto;
  display: block;
}

.right {
  width: 42%;

  padding-right: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;

  gap: 42px;

  margin-bottom: 65px;
}

.cards {
  width: 100%;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 65px 45px;
}

.card {
  text-align: center;
}

.tabs button {
  border: none;
  background: transparent;
  color: #aaa;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

.tabs .active {
  color: #e30613;
  text-decoration: underline dashed;
  text-underline-offset: 5px;
}

.icon {
  width: 67px;
  height: 67px;
  margin: 0 auto 12px;
  object-fit: contain;
}

.iconPlaceholder {
  width: 42px;
  height: 42px;
  margin: 0 auto 12px;
  background: #ddd;
  border-radius: 6px;
}

.card h3 {
  margin: 0 0 18px;
  font-size: 21px;
  font-weight: 800;
  color: #0f4d82;
}

.card ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card li {
  margin-bottom: 7px;
  font-size: 13px;
  line-height: 1.35;
  color: #333;
}

.card li::first-line {
  font-weight: 800;
}

.bottomWave {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 170px;

  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

/* .bottomWave::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 144px;
  background: white;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1902 180' preserveAspectRatio='none'%3E%3Cpath d='M1902 57.4987C1742.75 55.6198 1399.71 51.4017 1327 70.7268C1236.11 94.8832 1190.48 160.773 1157.5 138.227C1124.52 115.681 985.863 6.35571 843.5 48.2268C701.137 90.0979 627.322 181.507 530 122.727C432.678 63.9462 281.313 -53.2102 -1 29.7268L-1 144L1902 180Z' fill='black'/%3E%3C/svg%3E");
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1902 180' preserveAspectRatio='none'%3E%3Cpath d='M1902 57.4987C1742.75 55.6198 1399.71 51.4017 1327 70.7268C1236.11 94.8832 1190.48 160.773 1157.5 138.227C1124.52 115.681 985.863 6.35571 843.5 48.2268C701.137 90.0979 627.322 181.507 530 122.727C432.678 63.9462 281.313 -53.2102 -1 29.7268L-1 144L1902 180Z' fill='black'/%3E%3C/svg%3E");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
} */

.wave_box {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 164px;
}

.waveSvg {
  display: block;
  width: 100%;
  height: 100%;
}

.dashed_svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.waveBottom {
  position: absolute;
  left: 0;
  bottom: 40px;

  width: 100%;
  height: 95px;

  z-index: 2;
  pointer-events: none;
}

@media (max-width: 1200px) {
  .section {
    padding: 60px 0 150px;
  }

  .content {
    max-width: 1180px;
    gap: 20px;
  }

  .mapBox {
    width: 54%;
  }

  .right {
    width: 46%;
    padding-right: 24px;
  }

  .tabs {
    gap: 28px;
    margin-bottom: 48px;
  }

  .tabs button {
    font-size: 15px;
  }

  .cards {
    gap: 42px 28px;
  }

  .icon {
    width: 56px;
    height: 56px;
  }

  .card h3 {
    font-size: 18px;
  }

  .card li {
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .section {
    padding: 50px 24px 100px;
  }

  .section h2 {
    font-size: 28px;
    margin-bottom: 28px;
  }

  .content {
    max-width: 760px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .mapBox {
    width: 100%;
  }

  .mapBox img {
    width: 100%;
    display: block;

    object-fit: cover;
    object-position:right;

    border-radius: 18px;
  }

  .right {
    width: 100%;
    padding-right: 0;
  }

  .tabs {
    width: 100%;
    gap: 34px;
    margin-bottom: 42px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 28px;
  }

  .waveBottom,
  .bottomWave {
    display: none;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 36px 20px 70px;
  }

  .section h2 {
    margin-bottom: 12px;
    font-size: 24px;
  }

  .content {
    gap: 24px;
  }

  .mapBox img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    object-position: center top;
  }

  .tabs {
    gap: 38px;
    margin-bottom: 42px;
  }

  .tabs button {
    font-size: 13px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .card {
    width: 100%;
    max-width: 260px;
  }

  .icon {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
  }

  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .card li {
    font-size: 11px;
    margin-bottom: 6px;
  }
}
