.section {
  padding: 70px 0 90px;
  background: #f5f5f5;
  text-align: center;
}

.section h2 {
  margin: 0 0 38px;
  color: #555;
  font-size: 30px;
  font-weight: 800;
}

.wrapper {
  width: min(90%, 1280px);
  margin: 0 auto;
}

.card {
  height: 212px;

  display: flex;
  align-items: stretch;

  background: white;
  border-radius: 18px;
  overflow: hidden;

  text-align: left;
}

.card img {
  width: 245px;
  height: 212px;
  object-fit: cover;
  flex-shrink: 0;
}

.content {
  padding: 28px 28px 22px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content span {
  width: fit-content;
  margin-bottom: 10px;

  padding: 4px 8px;
  border-radius: 4px;

  background: #e30613;
  color: white;

  font-size: 10px;
  font-weight: 700;
}

.content h3 {
  margin: 0 0 12px;

  color: #444;
  font-size: 20px;
  font-weight: 800;
}

.content p {
  margin: 0;

  color: #555;
  font-size: 15px;
  line-height: 1.55;
}

@media (max-width: 1200px) {
  .section {
    padding: 60px 32px 80px;
  }

  .card img {
    width: 200px;
  }

  .content h3 {
    font-size: 18px;
  }

  .content p {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .section {
    padding: 60px 24px 75px;
  }

  .wrapper {
    max-width: 560px;
  }

  .card {
    height: auto;
    min-height: 185px;
  }

  .card img {
    display: none;
  }
}

@media (max-width: 768px) {
  /* .section {
    padding: 60px 16px 70px;
  } */

  .section h2 {
    margin: 0 auto 42px;

    font-size: 28px;
    line-height: 1.15;
  }

  .card {
    padding: 0;

    border-radius: 26px;

    background: rgba(255, 255, 255, 0.55);

    display: block;
  }

  .card img {
    display: none;
  }

  .content {
    /* padding: 24px 24px 26px; */
    justify-content: flex-start;
  }

  .content span {
    margin-bottom: 16px;

    padding: 4px 10px;

    font-size: 11px;

    border-radius: 7px;
  }

  .content h3 {
    margin-bottom: 16px;

    font-size: 21px;
    line-height: 1.2;
  }

  .content p {
    font-size: 16px;
    line-height: 1.6;
  }
}
