.section {
  background: #f9f9f9;
}

.head {
  text-align: center;
  /* margin-bottom: 28px; */
}

.head p {
  margin: 0 0 8px;
  font-size: 11px;
  color: #9b9b9b;
}

.logo {
  width: 78px;
  height: 78px;
  margin-bottom: 18px;
  flex-shrink: 0;
}
.head h1 {
  margin: 0 0 10px;
  font-size: 28px;
  color: #555;
  font-weight: 800;
}

.head span {
  display: block;
  max-width: 420px;
  margin: 0 auto;
  font-size: 11px;
  line-height: 1.4;
  color: #999;
}

.list {
  max-width: 760px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 22px;
}

.card {
  position: relative;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;

  color: white;
}

.circle {
  position: absolute;
  left: -150px;
  bottom: -100px;
  width: 493px;
  height: 386px;
  border-radius: 50%;
  z-index: 0;
}

.imageBox {
  position: relative;
  z-index: 2;

  width: 330px;
  height: 100%;

  flex-shrink: 0;
}

.imageBox img {
  position: absolute;

  left: 50%;
  top: 60%;

  transform: translate(-50%, -50%);
  max-width: 437px;
  max-height: 398px;
  object-fit: contain;
}

.content {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 360px;

  padding: 34px 24px 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.titleRow {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 14px;
}

.titleRow img {
  width: 46px;
  height: auto;
  object-fit: contain;
}

.titleRow h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 800;
}

.info {
  margin-bottom: 9px;
}

.info small {
  display: block;
  margin-bottom: 3px;
  font-size: 8px;
  opacity: 0.8;
}

.info p {
  margin: 0;
  font-size: 10px;
  line-height: 1.45;
  max-width: 310px;
}

.button {
  border: none;
  border-radius: 20px;

  background: white;
  color: #333;

  padding: 5px 11px;

  font-size: 9px;
  font-weight: 700;

  cursor: pointer;
}

@media (max-width: 1200px) {
  .list {
    max-width: 720px;
  }

  .card {
    height: 370px;
  }

  .imageBox {
    width: 300px;
  }

  .imageBox img {
    max-width: 390px;
    max-height: 360px;
  }

  .content {
    width: 330px;
  }
}

@media (max-width: 991px) {
  .section {
    padding: 0 24px 70px;
  }

  .list {
    max-width: 520px;
    align-items: center;
    gap: 24px;
  }

  .card {
    width: 430px;
    height: 720px;

    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;

    border-radius: 18px;
  }

  .circle {
    width: 600px;
    height: 600px;
    left: 50%;
    bottom: -230px;
    transform: translateX(-50%);
  }

  .imageBox {
    width: 100%;
    height: 270px;
  }

  .imageBox img {
    left: 50%;
    top: 35%;
    width: 480px;
    max-width: none;
    max-height: none;
    transform: translate(-50%, -50%);
  }

  .content {
    width: 100%;
    padding: 36px 24px 0;

    align-items: center;
    text-align: center;
  }

  .logo {
    width: 170px;
    height: 90px;
    margin-bottom: 18px;
  }

  .content h2 {
    display: none;
  }

  .info {
    margin-bottom: 14px;
  }

  .info small {
    font-size: 10px;
  }

  .info p {
    max-width: 330px;
    font-size: 15px;
    line-height: 1.4;
  }

  .button {
    margin-top: 8px;
    padding: 6px 24px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 0 20px 60px;
  }

  .list {
    max-width: 330px;
    gap: 18px;
  }

  .card {
    width: 330px;
    height: 788px;
    border-radius: 12px;
  }

  .circle {
    width: 538px;
    height: 538px;
    bottom: -200px;
  }

  .imageBox {
    height: 145px;
  }

  .imageBox img {
    top: -6px;
    width: 400px;
    height: 518px;
  }

  .content {
    padding: 24px 12px 0;
  }

  .logo {
    width: 175px;
    height: 83px;
    margin-bottom: 10px;
  }

  .info {
    margin-bottom: 8px;
  }

  .info small {
    font-size: 7px;
  }

  .info p {
    font-size: 16px;
    line-height: 1.35;
  }

  .button {
    margin-top: 4px;
    padding: 2px 26px;
    font-size: 16px;
  }
}
