.section {
  background: #fff;
  /* margin-bottom: 25px; */
  position: relative;
  overflow: hidden;
  padding-bottom: 280px;
}

.wave_box {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 220px;
  z-index: 3;
  pointer-events: none;
}

.waveSvg {
  display: block;
  width: 100%;
  height: 100%;
}

.dashed_svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.head {
  text-align: center;
  margin-bottom: 48px;
}

.head h2 {
  margin: 0 0 18px;
  font-size: 34px;
  font-weight: 800;
  color: #555;
}

.head p {
  /* margin: 0; */
  font-size: 15px;
  line-height: 1.5;
  font-weight: 700;
  color: #aaa;
}

.cards {
  margin: 0 20px;
  display: flex;
  justify-content: center;
    gap: 38px;
}

.card {
  background: #fdfdfd;
  border: 3px solid #e9e9e9;
  border-radius: 25px;
  padding: 49px;
  width: 480px;
  text-align: center;
  color: #444;
}

.card h3 {
  /* margin: 0 0 10px; */
  font-size: 20px;
  font-weight: 800;
}

.card h4 {
  margin: 0 0 34px;
  font-size: 12px;
  font-weight: 800;
}

.description {
  /* margin: 0; */
  font-size: 15px;
  line-height: 1.55;
}

.line {
  height: 1px;
  background: #e2e2e2;
  margin: 34px 0 26px;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 16px;
  text-align: left;
}

.bottom button {
  width: 44px;
  height: 44px;
  border: none;
  color: #d41220;
}

.bottom span {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #999;
}

.bottom strong {
  font-size: 12px;
  line-height: 1.4;
  color: #e30613;
}

@media (max-width: 1200px) {
  .section {
    padding: 0 24px 70px;
  }

  .head h2 {
    font-size: 30px;
  }

  .cards {
    max-width: 980px;
    gap: 20px;
  }

  .card {
    width: 300px;
    padding: 34px 26px 28px;
  }

  .card h3 {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .cards {
    max-width: 680px;
    flex-wrap: wrap;
  }

  .card {
    width: calc((100% - 20px) / 2);
  }

  .card:last-child {
    width: 100%;
    max-width: 330px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 0 16px 60px;
  }

  .head {
    margin-bottom: 32px;
  }

  .head h2 {
    font-size: 24px;
    line-height: 1.2;
  }

  .head p {
    font-size: 11px;
    line-height: 1.45;
  }

  .cards {
    max-width: 340px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 18px;
    align-items: center;
  }

  .card,
  .card:last-child {
    width: 100%;
    max-width: none;
    min-height: auto;
    padding: 34px 22px 26px;
    border-radius: 24px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card h4 {
    font-size: 10px;
    margin-bottom: 28px;
  }

  .description {
    font-size: 12px;
    line-height: 1.55;
  }

  .line {
    margin: 28px 0 22px;
  }

  .bottom {
    gap: 12px;
  }

  .bottom button {
    width: 38px;
    height: 38px;
    font-size: 14px;
  }

  .bottom span,
  .bottom strong {
    font-size: 10px;
  }
}
